* {color: #fff;}
body{
	margin-top: 60px;
}
.form-conatiner{
	border: 0px solid #0000FF ; padding: 60px 70px; background-color: #696969;
	-webkit-box-shadow: -1px 4px 26px 11px rgb(0,0,0,0.75);
	-moz-box-shadow: -1px 4px 26px 11px rgb(0,0,0,0.75);
	box-shadow: -1px 4px 26px 11px rgb(0,0,0,0.75);
}
.jumbotron{
	background-color: #000080; 
}